.details-container {
  display: flex;
  flex-direction: column;
}

.details-info {
  height: 100%;
  width: 100%;
}

.titulo {
  position: absolute;
  width: 577px;
  height: 48px;
  left: 717px;
  top: 199px;

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 48px;
  /* identical to box height */
  width: auto;
  color: #ffffff;
  margin-right: 140px;
  text-align: left;
}
.imagenProducto {
  position: absolute;
  max-width: 100%;
  height: 360px;
  left: 160px;
  top: 143px;
}
.descripcion {
  position: absolute;
  font-family: proxima-nova, sans-serif;
  width: 769px;
  height: 90px;
  left: 40px;
  top: 565px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #a7a9be;
  text-align: left;
}
.precio {
  position: absolute;
  width: 204px;
  height: 48px;
  left: 719px;
  top: 371px;

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  width: auto;

  color: #7600ff;
}
.stock {
  position: absolute;
  width: auto;
  height: 30px;
  left: 948px;
  top: 439px;

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #a7a9be;
}
.descripcionTitulo {
  position: absolute;
  width: auto;
  height: 42px;
  left: 40px;
  top: 523px;

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  color: #ffffff;
}

.filtros {
  position: absolute;
  width: 100%;
  height: 41px;
  left: 0px;
  top: 70px;
  background: #7600ff;
}
.volver {
  color: #000;
  text-decoration: none;

  position: absolute;
  width: 61px;
  height: 23px;
  left: 28px;
  top: 8px;
  width: auto;
}
.volver:hover {
  color: #fff;
  text-decoration: none;
}
.botonCarritoDetalle {
  position: absolute;
  width: 105px;
  height: 48px;
  left: 1038px;
  top: 375px;

  background: #7600ff;
  border-radius: 10px;
  border: none;
  color: #fff;
  /* font-size: 50px; */
}
.suma {
  font-family: "helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;

  color: #ffffff;
  text-decoration: none;
}
.suma:hover {
  color: #fff;
}
.carrito {
  position: relative;
  width: 30px;
  top: -5px;
}

/* .move-footer {
  position: absolute;
  top: 110vh;
} */

.ReviewCont {
  padding-top: 90%;
}

.carrusel {
  padding-top: 50%;
}