.amdr {
  background-color: #0f0e17;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0em;
}

.App {
  text-align: center;
}

* {
  text-decoration: none !important;
}
