.modificar{
    background-color: #7600FF;
    padding: 25px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    /* margin: 0 0; */
    padding: 5px  ;
    
    
}
.padre{
    background-color: rgb(0, 0, 0);
     width: 100%; 
    height: 100px;
    /* margin: 30px; */
   
}
.formulario{
    border-top: 5px solid rgba(255, 255, 255, 0);

}
.inputNew{
    background-color: rgb(123, 123, 123) !important;
    width: 500px;
    margin: 30px 0;
}
.fotoEdit{
    position: relative;
    left: -7px;
    margin-bottom: 3%;
}
.fotoActual{
    display: block;
    padding-bottom: 15px;
    padding-top: 25px;
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
    user-select: none;
}
login:hover{
    color: #4400ff;
}

.btn custom-button{
    
}

