
.formProduct{
    margin-top: 80px;
    /* background-color: blue; */
}
.h3T{
    margin-top: 20px;
    font-family: proxima-nova, sans-serif;;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
    color: #ff8606;
}
.tras{
    color: transparent;

}
.padre{
    background-color: rgb(0, 0, 0);
    /* border-radius: 50vh; */
    border: 3px solid #ff8606;
    height: 710px;
    
}
.escribir{

    background-color: #ffffff !important;
    border: 2px black solid !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 0px !important;
}
.escribir:active{
    background-color: red;
}
