.formProduct {
    margin-bottom: 100px;
    /* background-color: blue; */
}

.h3T {
    margin-bottom: 20px;
    font-family: proxima-nova, sans-serif;
    ;
    letter-spacing: 1.5px;
    font-size: 45px;
    color: #7600FF;
}

.padre {
    background-color: #0f0e17;
    /* border-radius: 50vh; */
    outline: 4.5px solid black;
    border: 2px solid #7600FF;
    /* height: 710px; */
}

.escribir {
    background-color: #000000 !important;
    border: 2px black solid !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 0px !important;
    border: .1px solid #7600FF !important;
}


.escribir::placeholder {
    color: rgb(119, 119, 119) !important;
}

.as {
    color: transparent;
    margin-top: 20px;
    user-select: none;
}

.detalless {
    padding-bottom: 22px !important;

}

label {
    color: #ffffff;
    font-family: proxima-nova, sans-serif;
    ;
    font-size: 17px;

}

.guardarBoton {
    position: absolute;
    top: 610px;
    left: 420px;
    padding: 10px !important;
    font-size: 20px !important;
    font-family: proxima-nova, sans-serif !important;
    text-shadow: 3px 2px 3px black;
    border-radius: 0px !important;
}

.volverBoton {
    position: absolute;
    left: 1289px;
    top: 12px;
    font-family: proxima-nova, sans-serif !important;
    text-shadow: 3px 2px 3px black;
    border-radius: 0px !important;
    padding: 6px !important;
    border: rgb(0, 0, 0) 1px solid !important;
}

.selection {
    position: relative;
    left: 130px;
}

.selection2 {
    position: relative;
    left: 90px;
}

.dropzone {
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: .1px solid #7600FF !important;
    height: 45px;
}

.dropzone:hover {
    cursor: pointer;
}

.imagenBoton {
    position: absolute;
    left: 1289px;
    top: 130px;
}

#img {
    cursor: pointer;
    color: #7600FF;
}