.logout{
  position: absolute;
width: 65px;
height: 26px;
left: 300%;

z-index: 1;
background: rgba(255, 255, 255, 5%);
border-radius: 10px;
cursor: pointer;
color: rgb(255, 255, 255) !important;

}

.logout:hover{
  color: red !important;
}