.container{

    background-color: #212225;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.btn-primary{
  width: 100%;
  border-radius: 15px;
}