.contenedor{
  position: static;
width: 100%;
height: 877px;
left: -1px;
top: 0px;
background: #0F0E17;
mix-blend-mode: normal;
color: white;
background-image: url("control.svg");
}
.tituloLanding{
  position: absolute;
  width: 695px;
  height: 120px;
  left: 81px;
  top: 239px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  text-align: left;
  user-select: none;
}
.bienvenido{
  position: absolute;
width: 585px;
height: 180px;
left: 77px;
top: 399px;

font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #A7A9BE;
  text-align: left;
}
.botonProductos{
  position: absolute;
width: 262px;
height: 79px;
left: 111px;
top: 664px;

background: #FF8906;
border-radius: 10px;
}

.products{
  /* position: absolute; */
/* width: 123px; */
/* height: 36px; */
/* left: 181px; */
/* top: 686px; */

font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #FFFFFF;
cursor: pointer;
}
.products:hover{
  cursor: pointer;
  color: #0F0E17;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  /* background-color:  #FF8906; */
  background-color:  #0F0E17;
  ;
  /* border-radius: 3px; */
}
::-webkit-scrollbar-thumb{
  background-color: #FF8906;
  /* background-color: #0F0E17; */
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}