.info-landing {
  position: static;
  width: 100%;
  height: 100vh;
  /* left: -1px; */
  top: 0px;
  background: #0f0e17;
  mix-blend-mode: normal;
  color: white;
  /* background-image: url("control.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.tituloLanding {
  position: absolute;
  width: 695px;
  height: 120px;
  left: 6%;
  top: 24%;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  text-align: left;
  user-select: none;
}
.bienvenido {
  position: absolute;
  width: 555px;
  height: 180px;
  left: 6%;
  top: 78%;

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #a7a9be;
  text-align: left;
}
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #491c7d, #7600ff);
  color: ghostwhite;
  overflow: hidden;
  position: absolute;
  width: 262px;
  height: 79px;
  left: 18%;
  top: 59%;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 2.9em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #7600ff;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.products {
  /* position: absolute; */
  /* width: 123px; */
  /* height: 36px; */
  /* left: 181px; */
  /* top: 686px; */

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
  cursor: pointer;
}
.products:hover {
  cursor: pointer;
  color: #0f0e17;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #0f0e17;
}
::-webkit-scrollbar-thumb {
  background-color: #7600ff;
  /* background-color: #0F0E17; */
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}


.fuego {
  max-width: 100%;
  height: 200px;
  margin-top: 15%;
  margin-left: 80%;
}

.ps5 {
  max-width: 100%;
  height: 500px;
  position: absolute;
  right: 2%;
  margin-top: 10%;
overflow: hidden;
}

.logoooo{
  display:none;
}


/*  TODO → TODO ESTO PERTENECE AL TAMAÑO PERSONALIZADO DEL CELULAR */
/* Estilos para pantallas más pequeñas (hasta 414px) */
@media (max-width: 747px) {
  
  
  
  .ps5 {
    display:none;
  }
  .logoooo{
    display: flex;
    position: absolute;
    margin-top:120px;
    right:106px;
    width: 200px;
  }
  

  .tituloLanding {
    /* border: 3px solid rgb(252, 0, 0); */
    position: absolute;
    width: 320px;
    top: 370px;

    left: 46px;
    justify-content: center;
    line-height: 35px;
    font-size: 27px;
    text-align: center;
  }
  .bienvenido {
    /* background-color: red; */
    padding-bottom: 10px;
    width: 320px;
    position: absolute;
    left: 53px;
    top: 640px;
    font-size: 18px;
  }

  .cssbuttons-io {
    /* border: 6px solid green; */
    position: absolute;
    top: 490px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  .letrasss{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; 
  }
}
