.footer {
  background-color: #000000;
  color: white;
   /* position: absolute;  */
  /* top: 250vh; */
  width: 100vw;
  padding: 20px 30px;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  margin-top: 80%;
}

.titulo2 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #858484;
}

.parrafo1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #a7a9be;
  text-align: center;
  width: 50%;
}
.link1 {
  color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
.link1:hover {
  color: #7600FF;
}
.conocenos {
  margin-top: 40px;
  text-align: left;
}
.fotoContacto {
  margin-bottom: 10px;
}
.p1 {
  position: relative;
  right: -150px;
}
.p2 {
  position: relative;
  right: -67px;
  display: block;
}
.p3 {
  position: relative;
  right: -120px;
}
.contenedores {
  /* display: block; */
  justify-content: space-between;
  position: relative;
  left: 90px;
  margin-top: 40px;
  text-align: left;
}
