/* IMAGEN SVG */
#bg-contacto {
  position: relative;
  top: -130px;
}

#seccion-contacto {
  /* min-height: 450px;   */
  position: relative;
  top: 290px;
  
}

#contenedor-formulario {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  max-width: 500px;
  height: 610px;
  /* border: 3.5px solid #ffffff; */
  /* outline: 4px solid rgb(0, 0, 0); */
  z-index: 1;
  border-radius: 10px;
}

#titulo-formulario {
  font-family: proxima-nova, sans-serif;
  color: #000000;
  user-select: none;
}

h2 {
  letter-spacing: 1.5px;
}

.inputs {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  /* border: 2.5px solid black !important; */
  border-radius: 5px !important;
  /* height: 80px;  */
}

.inputs::placeholder {
  color: rgb(90, 90, 90) !important;
}


.inputs2 {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  /* border: 2.5px solid black !important; */
  border-radius: 5px !important;
  font-size: 13px !important;
  padding-bottom: 30px !important;
  /* overflow: scroll;  */
}









/* 
.enviarMensaje {
  border-radius: 0px !important;
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
  letter-spacing: 1.5px;
  border: .1px solid rgb(0, 0, 0) !important;
  border-radius: 100px !important;
} */

.enviarMensaje {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 100px !important;
    border: none;
  background: #000000;
  color: #f7f7f7;
  overflow: hidden;
   position: absolute;
   width: 90%;
   height: 49px;
   left: 5%;
   top: 89%;
 }
 
 .enviarMensaje svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
 }
 
 .enviarMensaje span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 2.9em 0.8em 1.05em;
  
 }
 
 .enviarMensaje::before,
 .enviarMensaje::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  
 }
 
 .enviarMensaje::before {
  content: "";
  background: #00000070;
  width: 120%;
  left: -10%;
  color: rgb(255, 255, 255);

  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .enviarMensaje:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 
 .enviarMensaje:active {
  transform: scale(0.95);
 }














.volverBoto {
  position: absolute;
  left: -300px;
  top: 0px;
  font-family: proxima-nova, sans-serif !important;
  text-shadow: 3px 2px 3px black;
  border-radius: 0px !important;
  padding: 6px !important;
  border: rgb(0, 0, 0) 2px solid !important;
}

.casita {
  position: absolute !important;
  background-color: #ccc6c6 !important;
  width: 100% !important;
  height: 100% !important;
}

input:focus {
  background-color: #000000 !important;
  color: white !important;
  transition: all .8s;
}
.img-f{
  position: relative;
  width: 200px;
  left: 0px;
}


/* Estilos para pantallas más pequeñas (hasta 414px) */
@media (max-width: 747px) {
  .inputs{
    position: relative;
    top: -20px;
    left: 15px;
    /* background-color: red !important; */
    width: 360px !important;
  }
  .inputs2{
    position: relative;
    top: -20px;
    left: 15px;
    width: 360px !important;
    /* background-color: rgb(39, 64, 224) !important; */
  }
}