.searchbar-div {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
    border-color: #f5f5dc;
    margin-right: 40px;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}

.Nombrelogo{
align-items: center;
justify-content: center;
padding: 50%;
margin: 15vh; 
font-family: Arial, Helvetica, sans-serif;
}

.btn-search-bar {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: right;
    padding: 5px;
    margin: 10px;
    width: 4%;
    background-color: #f5f5dc;
    color:rgb(0, 0, 0);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
}

.bar-btn {
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px;
    width: 1;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0);
   
}

.btn-search-bar:hover {
    background-color: rgb(165, 165, 165);
    color: rgb(130, 128, 128);
   
}

.bar-btn:hover {
    background-color:hwb(0 90% 10%);
}

.lupaa{
position: relative;
    margin-right: 12px;
    size: 15px;
    display: flex;
    height:24px; 
    width:20px;
}

.Background{
  background: rgb(100, 98, 98);
  background-size: 500%;
  margin-top: 0%;
}
    
