.divSearch {
  /* background-color: rebeccapurple; */
  /* position: relative; */
  /* left: 45%;
  top: -40px; */
  /* outline: 2px solid white;s */
}
.botonBuscar {
  color: rgb(255, 255, 255) !important;
}
.botonBuscar:hover {
  background-color: #7600ff !important;
  transition: 0.5s linear;
}

.container-fluid {
  margin-top: 6vh;
}
