
.BotNav button{

    width: 25%;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     border-radius: 0px;
     border-color: rgba(153, 154, 160, 0);
     font-family:Arial, Helvetica, sans-serif;
     background-color: #fff;
     
}       



.BotNav button:hover {
     background-color: rgba(153, 154, 160);
     color:rgb(0, 0, 0);
     color: #fff;
     text-align: center;
}
   
     

