.navbar-container {
  background-color: #0f0e17;
  /* position: absolute; */
  width: 100vw;
  height: 105px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-navbar {
  
  position: absolute;
  left: 16%;
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  display: inline-block;
  position: relative;
  color: white;
  top: 5px;
  text-decoration: none;
  /* bottom: 25px; */
  margin: -0px 12px;
  /*  */
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  width: 100px;
}
.link:hover {
  color: #7600ff;
  transition: background-color 0.5s ease;
}

.cart {
  position: absolute;
  right: 17%;
  top: 1%;
}

.cart-btn {
  position: absolute;
  left: 80%;
  top: 11px;
  margin-top: 22px;
}

.quantity-circle {
  position: absolute;
  bottom: 20px;
  left: 85%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7600ff;
  color: white;
  text-align: center;
  line-height: 20px;
}

.logoOriginal1 {
  width: 150px;
  position: relative;
  top: -20px;
  left: 80px;
}

.login {
  /* background-color: blue; */
  position: relative;
  left: 30px !important;
  top: 1px !important;
  font-size: 25px !important;
  width: 130px;
  height: 50px;
  /* border: 3px solid black; */
  padding: 0px 0px;
}
 .img-fluid{
  position: absolute;
  background-color: rgba(255, 0, 0, 0) !important;
  top: 20px;
} 

.search {
  margin-top: 3vh;
}

.auten {
  position: absolute;
  top: -10px;
  margin-top: 30px;
  left: 89%;
}

.admins{
  top: 3px;
  background-color: #d1d1d100;
  width: fit-content;
  left: 16px;
} 



/*  TODO → TODO ESTO PERTENECE AL TAMAÑO PERSONALIZADO DEL CELULAR */
/* Estilos para pantallas más pequeñas (hasta 414px) */
@media (max-width: 746px) {
  .menu-navbar {
    display: block;
    position:relative;
    align-items: center;
    left: 80px;
   
  }

  .cart-btn {
    left: 260px;
    top: 22px;
  }
  .link {
    position: relative;
    color: white;
    top: 5px;
    text-decoration: none;
    /* bottom: 25px; */
    margin: -0px 12px;
    /*  */
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
  .link:hover {
    color: #ffffff;
    background-color: #7600ff;
    transition: background-color 0.5s ease;
  }

  .navbar-container {
    /* background-color: red; */
    height: 205px;
  }
  .filtros {
    background-color: #0f0e17 !important;
    position: relative;
    top: 198px !important;
    height: 0px;
    margin-left: 14px;
  }
  .logoOriginal1 {
    /* background-color: red; */
    /* border: 3px solid green; */
    position: absolute;
    left: 14px;
    width: 90px !important;
    height: 90px;
    margin-top: 39px;
  }
  .form-control {
    /* background-color: red !important; */
    /* border: 3px solid green; */
    position: absolute;
    width: 140px !important;

    right: -53px;
    top: -35px;
    font-size: 13px !important;
    letter-spacing: 1px;
  }

  .producto {
    /* background-color: yellow !important; */
    font-size: 16px;
    position: relative;
    left: -20%;
    top: 82px;
    background-color: #000000;
    width: 390px;
    border-radius: 3px;
  }
  .contacto {
    /* background-color: yellow !important; */
    font-size: 16px;
    position: relative;
    left: -20%;
    top: 117px;
    background-color: #000000;
    width: 390px;
    border-radius: 3px;
  }
  .sobreNosotro {
    /* background-color: yellow !important; */
    font-size: 16px;
    position: relative;
    left: -20%;
    top: 64px;
    background-color: #000000;
    width: 390px;
    border-radius: 3px;
  }

.login {
  /* background-color: blue; */
  position: relative;
  left: 100px !important;
  top: -110px !important;
  font-size: 25px !important;
  width: 130px;
  height: 50px;
  /* border: 3px solid black; */
  padding: 0px 0px;
}
.carritoN {
  position: relative;
  top: 12px;
  left: -73px;
}

.img-fluid {
  /* background-color: green !important; */
  position: relative;
  left: 300px !important;
  top: 155px !important;
}

.quantity-circle {
  /* background-color: skyblue !important; */
  position: relative;
  left: 15px;
  top: -25px;
}

.admins {
  /* background-color: red; */
  font-size: 16px;
  position: relative;
  left: -20%;
  top: 99px;
  background-color: #000000;
  width: 390px;
  border-radius: 3px;
}
}