.navbar-container {
  background-color: #0f0e17;
  /* position: absolute; */
  width: 100vw;
  height: 105px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-navbar {
  position: absolute;
  left: 18%;
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
}

.link {
  position: relative;
  color: white;
  top: 20px;
  text-decoration: none;
  /* bottom: 25px; */
  margin: -0px 12px;
  /*  */
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.link:hover {
  color: #7600ff;
}

.cart {
  position: absolute;
  right: 17%;
  top: 1%;
}

.cart-btn {
  position: absolute;
  left: 80%;
  top: 11px;
  margin-top: 22px;
}

.quantity-circle {
  position: absolute;
  bottom: 20px;
  left: 85%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4400ff;
  color: white;
  text-align: center;
  line-height: 20px;
}

.logoOriginal1 {
  width: 150px;
  position: relative;
  top: -20px;
  left: 80px;
}
/* .img-fluid{
  position: absolute;
  background-color: red !important;
  top: 20px;
} */

.search {
  margin-top: 3vh;
}

.auten {
  position: absolute;
  top: -20px;
  margin-top: 40px;
  left: 89%;
}
