.navbar-container {
  background-color: #0f0e17;
  /* position: absolute; */
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-navbar {
  position: absolute;
  left: 18%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

.link {
  position: relative;
  color: white;
  top: 20px;
  text-decoration: none;
  /* bottom: 25px; */
  margin: -0px 12px;
  /*  */
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.link:hover {
  color: #ff8906;
}

.cart{
  position: absolute;
  right: 17%;
  top: 1%;
}